{% extends "header.html" %}
{% block content %}
<h1 class="display-3">About</h1>
<hr>
<div class="d-flex justify-content-center">
  <div class="col-sm-6">
    Tic Tac Toe is a web app that allows users to challenge each other to games of the same name. Users can create an account and challenge other users by providing their username and sending an invitation. Turns will go back and forth, and a player will be notified when they are able to play again. Once a game is complete, the status of the game will be displayed on a global feed. All players will then be able to create comments on the outcome of the game. This project was created as my final project for CMSC388J. It includes examples of user management, form validation, database integration, data security measures and dynamic image creation.
  </div>
</div>
{% endblock %}