{% extends "header.html" %}
{% block content %}
<h1 class="display-3">{{ current_user.username.capitalize() }}'s Account</h1>
<h1>Update Username</h1>
<form method="POST" action="">
  {{ username_form.csrf_token }}
  <div class="form-group">
    {{ username_form.username.label }}
    {{ username_form.username(class="form-control") }}

    {% if username_form.username.errors %}
    <div class="alert alert-warning" role="alert">
        {% for error in username_form.username.errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% endif %}
  </div>
  {{ username_form.submit_username(class="btn btn-primary") }}
</form>
{% endblock %}