{% extends "header.html" %}
{% block content %}
<div class="d-flex justify-content-center">
  <h1 class="display-1">Welcome to Tic Tac Toe!</h1>
</div>
<hr/>
<div class="float-right">
  <a href="{{url_for('games.create_game')}}"><button class="btn btn-outline-primary">Create New Game</button></a>
</div>
<br/>
<br/>
{% for g in games %}
  <div class="row d-flex justify-content-center p-3 mb-5 bg-light border rounded">
    <div class="col-sm-3">
      <a href="{{url_for('games.game', game_id=g.game_id)}}">
        <img width="200rem" src="{{url_for('games.get_game_img', game_id=g.game_id)}}">
      </a>
    </div>
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">
          {{ g.user_one.capitalize() }} (O) vs. {{ g.user_two.capitalize() }} (X)
        </div>
        <div class="card-body">
          <h5>Comments:</h5>
          {% for c in comments %}
            {% if c.game_id == g.game_id %}
              <p><b>{{c.date.strftime('%m/%d')}} {{c.username.capitalize()}}:</b> {{c.comment}}</p>
            {% endif %}
          {% endfor %}
          <br/>
          <p><b>Add Comment:</b></p>

          <form method="POST" action="">
            {{ g.form.csrf_token }}
            <div class="form-group">
              {{ g.form.comment.label }}
              {{ g.form.comment(class="form-control") }}
              
              {% if g.form.comment.errors %}
              <div class="alert alert-warning" role="alert">
                {% for error in g.form.comment.errors %}
                <span>{{ error }}</span>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            {{ g.form.submit(class="btn btn-primary") }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}